{% extends 'layout/app-layout.html' %}

{% block content %}
<h1>About Me</h1><br><br>
<p>
    I am an Electronics and Communication Engineering graduate with a passion
    for electronics, communication systems, and innovative projects. I enjoy
    applying my knowledge to build solutions that can make a real impact.
</p>
<p>
    Some of my past work includes:
</p>
<ul>
    <li>Automated Attendance System using Raspberry Pi</li>
    <li>Security System using ESP32-CAM</li>
</ul>
<p>
    My goal is to continue learning, exploring new technologies, and creating
    projects that bridge the gap between ideas and practical applications.
</p>
{% endblock %}
